@charset "UTF-8";


 body, html {
    height: 100%; /* 전체 높이를 브라우저 창에 맞춤 */
    margin: 0; /* 기본 마진 제거 */
  }

  /* 배경 이미지를 설정하고 고정시키는 클래스 */
  body{
   
    background-image: url(images/default-yellow.png); /* 배경 이미지 설정 */

    /* 이미지가 항상 전체 화면을 채우도록 설정 */
    height: 100%; /* 높이를 전체 페이지에 맞춤 */
    background-position: center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-size: cover; /* 이미지가 항상 전체를 덮도록 설정 */
    background-attachment: fixed; /* 스크롤 시 이미지가 움직이지 않도록 설정 */
  }
  
h1 {
  font-family: 'BMHANNAPro', sans-serif;
  color: #CC6666;
  text-align: center;
  font-size: 45px;
  margin : 0 565px 20px 0;
}

.event-grid {
  width: 700px;
  height: (100%);
  background-color: #ffefd5;

  border: 3px solid #D38883;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  position:relative;
  left:50%;
  transform: translateX(-50%);
}

.event-button {
  text-align: left;
  font-family: 'Cooper Black', sans-serif;
  color: #CC6666; /* 링크 색상을 원하는 색상으로 변경하세요 */
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  background-color: #ffefd5;
  border: none;
  margin : 0 0 20px 0;
}
.event-button a {
  color: #CF5C69;
  text-decoration: none;
}
